*{
  background-color: #f6e1bb;
  color: #3d2d42;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
}

.container{
  display: grid;
  grid-template-columns: 25% 50% 25%;
  margin-left: 5%;
  margin-right: 5%;
}

.left{
  display: flex;
  align-items: flex-end;


  #todoForm{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #todoText{
    width: auto;
    margin-bottom: 5px;
  }

  .todo-list, #items {
    margin-bottom: 5%;
    width: 100%;
  }

  .todo{
    box-shadow: 0 1px 3px rgba(0,0,0,0.3), 0 1px 3px rgba(0,0,0,0.5);
    border-radius: 5px;
    width: 50%;
    position: relative;
    z-index: 1;
  }

  .todo-text{
    margin: 16px;
    padding-top: 16px;
    word-break: break-all; 
  }

  .action{
    border: none;
    background-color: #f6e1bb;
    color: #3d2d42;
    margin: 0 0 16px 16px;
    padding: 0;
    outline: none;
    cursor: pointer;
    font-weight: bold;

    &:hover{
      border: none;
      color: #645768;
      margin: 0 0 16px 16px;
      padding: 0;
      outline: none;
      cursor: pointer;
    }
  }

  

  #item{
   display: grid;
   grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  }

  .btn{
    border-style: none;
    border-radius: 5px;
    padding: 16px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3), 0 1px 3px rgba(0,0,0,0.5);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-color: #3d2d42;
    color: #f6e1bb;
  }

  .btn:hover{
    cursor: pointer;
    background-color: #645768;
    box-shadow: 0 2px 3px rgba(0,0,0,0.25), 0 3px 5px rgba(0,0,0,0.22);
  }

  .btn:focus {
    outline: none;
  }

}

.mid{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .upper-mid{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .lower-mid{
    height: 50vh;
    display: flex;
    flex-direction: column;
  }


  #clock{
    font-size: 12vw;
  }

  .username{
    font-size: 1vw;
  }
}

input[type=text] {
  box-sizing: border-box;
  border: 2px solid grey;
  padding: 14px;
  border-radius: 5px;
}

input[type=text]:focus{
  outline: none !important;
  border: 2px solid #3d2d42;
}

