body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 16px;
    background-color: #efefef;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 33.3vh);

    .user-name {
        font-size: 3em;
        grid-column: 2;
        grid-row: 2;
        align-self: center;
        justify-self: center;
    }

    .settings {
        grid-column: 1;
        grid-row: 1;
        padding: 1em;
    }

    .weather {
        grid-column: 3;
        grid-row: 1;
        padding: 1em;
        justify-self: right;
    }

    .todo-list {
        grid-column: 1;
        grid-row: 2/4;
        align-self: end;
        padding: 1em;

        .todo-list-card {
            background-color: #fff;
            width: auto;
            padding: 1px 0 0 40px;
            border-radius: 2em;
            box-shadow: #d6d6d6 3px 5px;
    
            ul {
                margin: 0;
                padding: 0;
    
                li {
                    list-style: none;
                    padding: 12px 8px 12px 40px;
                    font-size: 18px;
                    user-select: none;
                }
            }
        }

        
    }
}