body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-size: 16px;
  // color: white;
  font-family: Helvetica, sans-serif;
}

.container{
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: row;
  justify-content: space-between;

}

.left{
  display: flex;
  flex-direction: column-reverse;
  margin: 15px;
}

.left, .mid, .right{
  width:33%;
}

// Below is used mainly for the left column
.todo-list{
  margin-bottom: 100px;

  #todoForm{
    position: fixed;
    bottom: 0px;
    left: 0px;
    margin: 15px;
  }

  .todo{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    // background-color: #575fcf;
    border-radius: 5px;
    width: 50%;
    box-shadow: 5px 5px #1e272e;
  }

  // .todo-title{
  //   text-shadow: 4px 4px #1e272e;
  // }

  .todo-text{
    margin-left: 15px;
  }
  
}

button{
  // background-color: white;
  // color: black;
  padding: 13px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover{
    // background-color: #ccc;
  }
}
  
input[type=submit] {
  background-color: white;
  color: black;
  padding: 13px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover{
    background-color: #ccc;
  }  
}

input[type=text]{
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

// Below is used mainly for the mid column
.mid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
#clock{
  font-size: 10em;
  font-weight: bold;
}

h1{
  font-size: 2.5em;
}

.username{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#change-color {
  position: fixed;
  top: 1em;
}