* {
  background-color: #f6e1bb;
  color: #3d2d42;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 50% 25%;
      grid-template-columns: 25% 50% 25%;
  margin-left: 5%;
  margin-right: 5%;
}

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.left .todo-list, .left #items {
  margin-bottom: 5%;
}

.left .todo {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.left .todo-text {
  margin: 16px;
  padding-top: 16px;
}

.left .action {
  border: none;
  background-color: #f6e1bb;
  color: #3d2d42;
  margin: 0 0 16px 16px;
  padding: 0;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}

.left .action:hover {
  border: none;
  color: #645768;
  margin: 0 0 16px 16px;
  padding: 0;
  outline: none;
  cursor: pointer;
}

.left #item {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (minmax(200px, 1fr))[auto-fill];
      grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
}

.left .btn {
  border-style: none;
  border-radius: 5px;
  padding: 16px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: #3d2d42;
  color: #f6e1bb;
}

.left .btn:hover {
  cursor: pointer;
  background-color: #645768;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25), 0 3px 5px rgba(0, 0, 0, 0.22);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25), 0 3px 5px rgba(0, 0, 0, 0.22);
}

.left .btn:focus {
  outline: none;
}

.mid {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mid .upper-mid {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mid .lower-mid {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mid #clock {
  font-size: 12vw;
}

.mid .username {
  font-size: 1vw;
}

input[type=text] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid grey;
  padding: 14px;
  border-radius: 5px;
}

input[type=text]:focus {
  outline: none !important;
  border: 2px solid #3d2d42;
}
/*# sourceMappingURL=index.css.map */